/* Authors: Mamatha Iruvaram and Adilakshmi Prayusha Mothadaka
Description: This code is responsible for the stylings for survey-list.component.html */

body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color:white;
    height: 100vh;
    margin: 0;

  }

  h1 {
    text-align: center;
    color: #005329;
    padding: 20px;
  }

  nav {
    background-color: #005329;
    padding: 10px 20px;
    text-align: center;
  }

  nav a {
    color: #ecf0f1;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .container {
    width: 90%;
    margin: 20px auto;
  }

  .survey-table-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure all columns have a fixed width */
    margin-top: 20px;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word; /* Allow wrapping of long text */
  }

  th {
    background-color: #005329;
    color: #fff;
    font-weight: bold;
  }

  td {
    background-color: #fff;
  }

  .input-field {
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
  }

  .actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center; /* Vertically center the icons */
    height: 100%; /* Ensure actions column fills the height of the row */
  }

  .actions i {
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 40px 0px;
  }

  .actions i:hover {
    opacity: 0.7;
  }

  .edit-icon {
    color: #3498db; /* Blue color for edit */
  }

  .delete-icon {
    color: #e74c3c; /* Red color for delete */
  }

  .survey-info {
    margin: 0;
    padding: 0;
  }

  .no-surveys-message {
    text-align: center;
    color: #7f8c8d;
  }

  /* Optional: Ensure uniform height for all rows */
  tr {
    height: 70px; /* Uniform height for all rows */
  }

  footer {
    background-color: #005329;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 14px;
    width: 100%;
    bottom: 0;
    position: relative;
    margin-top: 20px;
}